body {
    font-family: monospace;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#quiz-container {
    background-color: wheat;
    max-width: 800px; /* Increase the width of the quiz container */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#options-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#options-container button:hover {
    background-color: pink;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
    }
}

#timer-container, #score-container {
    margin-top: 20px;
    font-size: 18px;
}

#highscore-container {
    
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

#highscore-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#highscore-list {
    list-style: none;
    padding: 0;
}

#highscore-list li {
    font-size: 16px;
    margin-bottom: 5px;
}

#initials {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}

#save-score {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#save-score:hover {
    background-color: #218838;
}
